.button {
 font-size: 16px;
 font-weight: 600;
 line-height: 120%;
 color: #212121;
 padding: 8px 16px;
 background-color: #17D981;
 border: none;
 border-radius: 8px;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}