header {
  background-color: #06151a;
  padding: 32px;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

.container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.events {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}