.drop-down-list {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4a4949;
  font-weight: 400px;
  font-size: 16px;
  line-height: 125%;
  color: #FFFFFF;
  padding: 8px 16px;
}